{% extends 'BananaUserBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <br>
        <div class="col-md-6 ">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <h2 class="panel-title">Inscription</h2>
                </div>

                <div class="panel-body">

                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    {% endblock %}
